# Stage1 training config

paths:
  train_dir: '../Preprocessing_modular/DemoOutput/TreesSplines_20depth_prepared/train'
  val_dir: '../Preprocessing_modular/DemoOutput/TreesSplines_20depth_prepared/val'
  output_dir: Stage1_New/output_01

params:
  k: 39
  in_dim: 39
  mode: post_order  # keep as-is when data is already pre_order
  batch_size: 1
  batch_size_val: 1
  base_lr: 0.0001
  quant_loss_weight: 1.0
  epochs: 1000
  step_lr: true
  step_size: 200

  gamma: 0.9
  seed: 125
  device: 0

logging:
  log_every: 10
  save_every: 100
  save_best: true
  best_model_path: Stage1_New/output/best-model-stage1.pth

wandb:
  enabled: true
  entity: VesselGPT
  project: VesselGPT_VQVAE_02
  mode: online
  watch: true
  # run_name: your_run_name_here
